Repository matomo-org/matomo, pull requests merged in 2024-04, with the labels that each got.

#22058 Fix links to prefiltered Marketplace
  plugins/CorePluginsAdmin/vue/dist/CorePluginsAdmin.umd.js
  plugins/CorePluginsAdmin/vue/dist/CorePluginsAdmin.umd.min.js
  plugins/CorePluginsAdmin/vue/src/PluginsTable/PluginsTable.vue
  plugins/CorePluginsAdmin/vue/src/ThemesIntro/ThemesIntro.vue
  plugins/Marketplace/vue/dist/Marketplace.umd.js
  plugins/Marketplace/vue/dist/Marketplace.umd.min.js
  plugins/Marketplace/vue/src/GetPremiumFeatures/GetPremiumFeatures.vue
Labels: Bug, not-in-changelog, Needs Review, Regression

#22057 Add support for hash URLs in campaign param removal, update list of params to strip
  core/Tracker/TrackerCodeGenerator.php
  js/piwik.js
  js/piwik.min.js
  matomo.js
  piwik.js
  plugins/CoreAdminHome/CoreAdminHome.php
  plugins/CoreAdminHome/lang/en.json
  plugins/CoreAdminHome/tests/UI/expected-screenshots/TrackingCodeGenerator_advanced.png
  plugins/CoreAdminHome/tests/UI/expected-screenshots/TrackingCodeGenerator_advanced_campaign.png
  plugins/CoreAdminHome/tests/UI/expected-screenshots/TrackingCodeGenerator_advanced_cvars.png
  plugins/CoreAdminHome/tests/UI/expected-screenshots/TrackingCodeGenerator_advanced_selected_options.png
  plugins/CoreAdminHome/tests/UI/expected-screenshots/TrackingCodeGenerator_cross_domain.png
  plugins/CoreAdminHome/tests/UI/expected-screenshots/TrackingCodeGenerator_cross_domain_checked.png
  plugins/CoreAdminHome/vue/dist/CoreAdminHome.umd.js
  plugins/CoreAdminHome/vue/dist/CoreAdminHome.umd.min.js
  plugins/CoreAdminHome/vue/src/JsTrackingCodeGenerator/JsTrackingCodeAdvancedOptions.vue
  plugins/PrivacyManager/vue/dist/umd.metadata.json
  plugins/SitesManager/API.php
  tests/PHPUnit/Integration/Tracker/TrackerCodeGeneratorTest.php
  tests/UI/expected-screenshots/EmptySite_showAdvancedTrackingOptions.png
  tests/UI/expected-screenshots/UIIntegrationTest_api_listing.png
  tests/javascript/index.php
Labels: Needs Review

#22083 Update developer changelog with relevant changes added recently
  CHANGELOG.md
Labels: not-in-changelog

#22082 Fixing small bug in the formatPercent method
  core/NumberFormatter.php
  tests/PHPUnit/Integration/NumberFormatterTest.php
Labels: Bug, Needs Review

#22080 Update resolution in subsequent tracking requests if previously unknown
  plugins/Resolution/Columns/Resolution.php
  plugins/Resolution/tests/Integration/ResolutionTrackingTest.php
Labels: Enhancement, c: Tracking

#22086 [Coding Style] Enable rule Squiz.Scope.MethodScope.Missing
  phpcs.xml
  plugins/API/Controller.php
  plugins/CoreHome/Controller.php
  plugins/DevicesDetection/Updates/1.14.php
  plugins/ExampleAPI/MagicObject.php
  plugins/Feedback/Controller.php
  plugins/Installation/Controller.php
  plugins/LanguagesManager/tests/Integration/LanguagesManagerTest.php
  plugins/Live/Controller.php
  plugins/Live/Visitor.php
  plugins/Live/VisitorDetails.php
  plugins/Login/FormLogin.php
  plugins/Login/FormResetPassword.php
  plugins/MobileMessaging/MobileMessaging.php
  plugins/MobileMessaging/ReportRenderer/ReportRendererException.php
  plugins/Overlay/Overlay.php
  plugins/ScheduledReports/Menu.php
  plugins/SegmentEditor/SegmentEditor.php
  plugins/TwoFactorAuth/FormTwoFactorAuthCode.php
  plugins/VisitorInterest/VisitorInterest.php
  tests/PHPUnit/Framework/Mock/PiwikOption.php
  tests/PHPUnit/Unit/AssetManager/PluginMock.php
  tests/PHPUnit/Unit/AssetManager/ThemeMock.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22085 [Coding Style] Enable rule PSR12.ControlStructures.ControlStructureSpacing.SpaceBeforeCloseBrace
  core/FrontController.php
  core/UrlHelper.php
  phpcs.xml
  plugins/SitesManager/SiteContentDetection/Matomo.php
  tests/PHPUnit/Fixtures/TwoSitesTwoVisitorsDifferentDays.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22070 Never send a user creation email to anonymous user
  plugins/UsersManager/Repository/UserRepository.php
Labels: not-in-changelog, Needs Review

#22087 Avoid possible exception in checkSiteHasTrackedVisits task
  plugins/CoreAdminHome/Tasks.php
Labels: not-in-changelog, Needs Review

#22078 Ensure to correctly parse `lang` tracking parameter
  core/Tracker/Request.php
  tests/PHPUnit/Unit/Tracker/RequestTest.php
Labels: not-in-changelog, Needs Review

#22091 [Coding Style] Enable rules Squiz.ControlStructures.ForLoopDeclaration.NoSpaceAfter*
  phpcs.xml
  tests/PHPUnit/Fixtures/SomeVisitsLastYearAndThisYear.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22089 [Coding Style] Enable rule PSR12.ControlStructures.ControlStructureSpacing.CloseParenthesisIndent
  phpcs.xml
  plugins/CoreHome/LoginAllowlist.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22053 Translations update from Hosted Weblate
  lang/de.json
  lang/es.json
  lang/gu.json
  lang/tr.json
  plugins/CoreAdminHome/lang/ca.json
  plugins/CoreAdminHome/lang/de.json
  plugins/CoreAdminHome/lang/el.json
  plugins/CoreAdminHome/lang/es.json
  plugins/CoreAdminHome/lang/eu.json
  plugins/CoreAdminHome/lang/gu.json
  plugins/CoreAdminHome/lang/tr.json
  plugins/CoreAdminHome/lang/zh-cn.json
  plugins/CorePluginsAdmin/lang/de.json
  plugins/CorePluginsAdmin/lang/es.json
  plugins/CorePluginsAdmin/lang/zh-cn.json
  plugins/Diagnostics/lang/pt.json
  plugins/Feedback/lang/gu.json
  plugins/Goals/lang/es.json
  plugins/Insights/lang/zh-cn.json
  plugins/Installation/lang/pt.json
  plugins/Login/lang/nb.json
  plugins/Login/lang/pt.json
  plugins/Login/lang/zh-cn.json
  plugins/Marketplace/lang/de.json
  plugins/PrivacyManager/lang/pt.json
  plugins/ScheduledReports/lang/es.json
  plugins/SegmentEditor/lang/es.json
  plugins/SitesManager/lang/gu.json
  plugins/SitesManager/lang/zh-cn.json
  plugins/UsersManager/lang/nb.json
  plugins/UsersManager/lang/tr.json
  plugins/UsersManager/lang/zh-cn.json
Labels: not-in-changelog, c: i18n

#22097 [Coding Style] Enable rule Squiz.ControlStructures.ControlSignature.SpaceAfterCloseParenthesis
  core/Changes/Model.php
  core/Common.php
  core/Config.php
  core/Cookie.php
  core/DataAccess/ArchivingDbAdapter.php
  core/DataAccess/LogAggregator.php
  core/Intl/Locale.php
  core/SettingsPiwik.php
  core/SiteContentDetector.php
  core/Tracker/Db.php
  core/Tracker/Db/Mysqli.php
  core/Tracker/VisitExcluded.php
  phpcs.xml
  plugins/API/ProcessedReport.php
  plugins/Actions/ArchivingHelper.php
  plugins/CoreAdminHome/Tasks.php
  plugins/CoreConsole/Commands/GenerateSystemCheck.php
  plugins/CoreHome/Columns/VisitorReturning.php
  plugins/CoreHome/LoginAllowlist.php
  plugins/CoreUpdater/CoreUpdater.php
  plugins/CoreUpdater/UpdateCommunication.php
  plugins/Diagnostics/Diagnostic/RequiredPhpSetting.php
  plugins/Ecommerce/VisitorDetails.php
  plugins/GeoIp2/Commands/UpdateRegionCodes.php
  plugins/GeoIp2/GeoIP2AutoUpdater.php
  plugins/ImageGraph/API.php
  plugins/Marketplace/Input/PluginName.php
  plugins/Marketplace/Plugins/InvalidLicenses.php
  plugins/Marketplace/UpdateCommunication.php
  plugins/PrivacyManager/ReportsPurger.php
  plugins/PrivacyManager/Tracker/RequestProcessor.php
  plugins/PrivacyManager/tests/Integration/DataPurgingTest.php
  plugins/Referrers/API.php
  plugins/Referrers/DataTable/Filter/SetGetReferrerTypeSubtables.php
  plugins/Referrers/Tasks.php
  plugins/UserCountry/LocationProvider.php
  plugins/UsersManager/SystemSettings.php
  plugins/VisitorInterest/Archiver.php
  tests/PHPUnit/Framework/TestingEnvironmentVariables.php
  tests/PHPUnit/Integration/AccessTest.php
  tests/PHPUnit/Integration/CliMulti/OutputTest.php
  tests/PHPUnit/Integration/CliMulti/ProcessTest.php
  tests/PHPUnit/Integration/EmailValidatorTest.php
  tests/PHPUnit/Integration/ReleaseCheckListTest.php
  tests/PHPUnit/System/OneVisitorTwoVisitsTest.php
Labels: Task, c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22099 [Coding Style] Enable rule Squiz.Functions.FunctionDeclaration.Found
  phpcs.xml
Labels: Task, c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22065 Fix: Testing feature might break saving a segment
  plugins/Marketplace/tests/System/Api/ClientTest.php
  plugins/SegmentEditor/javascripts/Segmentation.js
  plugins/SegmentEditor/tests/UI/SegmentSelectorEditor_spec.js
  plugins/SegmentEditor/vue/dist/SegmentEditor.umd.js
  plugins/SegmentEditor/vue/dist/SegmentEditor.umd.min.js
  plugins/SegmentEditor/vue/src/SegmentGenerator/SegmentGenerator.vue
Labels: Bug, not-in-changelog, Needs Review, Stale

#22102 Add null-coalesce safeguard to shell_exec for cases when command fails or returns no output
  core/CliMulti/Process.php
  core/Filechecks.php
  plugins/CoreConsole/Commands/GitCommit.php
  plugins/TestRunner/Commands/TestsRun.php
Labels: c: Platform, not-in-changelog, Needs Review

#22088 Connect free trial start with marketplace account creation
  plugins/CorePluginsAdmin/CorePluginsAdmin.php
  plugins/CorePluginsAdmin/lang/en.json
  plugins/Marketplace/API.php
  plugins/Marketplace/Api/Service.php
  plugins/Marketplace/Controller.php
  plugins/Marketplace/Marketplace.php
  plugins/Marketplace/config/test.php
  plugins/Marketplace/lang/en.json
  plugins/Marketplace/stylesheets/marketplace.less
  plugins/Marketplace/templates/overview.twig
  plugins/Marketplace/tests/Framework/Mock/Service.php
  plugins/Marketplace/tests/Integration/ApiTest.php
  plugins/Marketplace/tests/UI/Marketplace_StartFreeTrial_spec.js
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_no_license_modal.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_no_license_modal_duplicate.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_no_license_modal_invalid.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_no_license_modal_rejected.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_start_free_trial_error_modal.png
  plugins/Marketplace/tests/resources/v2.0_createAccount_duplicate-email.json
  plugins/Marketplace/tests/resources/v2.0_createAccount_invalid-email.json
  plugins/Marketplace/tests/resources/v2.0_createAccount_ok.json
  plugins/Marketplace/vue/dist/Marketplace.umd.js
  plugins/Marketplace/vue/dist/Marketplace.umd.min.js
  plugins/Marketplace/vue/src/Marketplace/Marketplace.vue
  plugins/Marketplace/vue/src/OverviewIntro/OverviewIntro.vue
  plugins/Marketplace/vue/src/PluginList/PluginList.vue
  plugins/Marketplace/vue/src/StartFreeTrial/StartFreeTrial.vue
Labels: Enhancement, c: Marketplace, Needs Review

#22103 Translations update from Hosted Weblate
  plugins/CoreAdminHome/lang/es.json
  plugins/Referrers/lang/gu.json
Labels: Task, not-in-changelog, c: i18n

#22114 [Coding Style] Enable rule Generic.ControlStructures.InlineControlStructure.NotAllowed
  core/SiteContentDetector.php
  phpcs.xml
Labels: c: Tests & QA, not-in-changelog, Technical debt

#22023 Set autocomplete property on login form fields
  plugins/Login/templates/login.twig
Labels: Bug, Needs Review

#22115 Replace jQuery.dotdotdot with pure CSS
  .github/scripts/clean-build.sh
  .gitignore
  CHANGELOG.md
  core/AssetManager/UIAssetFetcher.php
  node_modules/jquery.dotdotdot/CONTRIBUTING.md
  node_modules/jquery.dotdotdot/LICENSE.txt
  node_modules/jquery.dotdotdot/README.md
  node_modules/jquery.dotdotdot/bower.json
  node_modules/jquery.dotdotdot/composer.json
  node_modules/jquery.dotdotdot/dist/jquery.dotdotdot.js
  node_modules/jquery.dotdotdot/gulpfile.js
  node_modules/jquery.dotdotdot/index.html
  node_modules/jquery.dotdotdot/package.json
  node_modules/jquery.dotdotdot/src/jquery.dotdotdot.js
  package-lock.json
  package.json
  plugins/CorePluginsAdmin/CorePluginsAdmin.php
  plugins/Marketplace/stylesheets/marketplace-widget.less
  plugins/Marketplace/vue/dist/Marketplace.umd.js
  plugins/Marketplace/vue/dist/Marketplace.umd.min.js
  plugins/Marketplace/vue/src/GetNewPluginsAdmin/GetNewPluginsAdmin.vue
  tests/PHPUnit/Integration/ReleaseCheckListTest.php
  tsconfig.json
Labels: not-in-changelog, c: Design / UI, Needs Review, Technical debt

#22140 [Coding Style] Enable rule PSR2.Classes.PropertyDeclaration.Underscore
  core/EventDispatcher.php
  core/Visualization/Sparkline.php
  phpcs.xml
  plugins/API/API.php
  plugins/ProfessionalServices/tests/Unit/PromoWidgetApplicableTest.php
  tests/PHPUnit/Unit/Scheduler/Schedule/DailyTest.php
  tests/PHPUnit/Unit/Scheduler/Schedule/HourlyTest.php
  tests/PHPUnit/Unit/Scheduler/Schedule/MonthlyTest.php
  tests/PHPUnit/Unit/Scheduler/Schedule/WeeklyTest.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22147 [Coding Style] use camel case for method names in Core* plugin tests
  plugins/CoreAdminHome/tests/Integration/APITest.php
  plugins/CoreAdminHome/tests/Integration/ArchivesToPurgeDistributedListTest.php
  plugins/CoreAdminHome/tests/Integration/Commands/DeleteLogsDataTest.php
  plugins/CoreAdminHome/tests/Integration/Commands/InvalidateReportDataTest.php
  plugins/CoreAdminHome/tests/Integration/Commands/OptimizeArchiveTablesTest.php
  plugins/CoreAdminHome/tests/Integration/Commands/PurgeOldArchiveDataTest.php
  plugins/CoreAdminHome/tests/Integration/Commands/SetConfigTest.php
  plugins/CoreAdminHome/tests/Integration/FixDuplicateActionsTest.php
  plugins/CoreAdminHome/tests/Integration/Model/DuplicateActionRemoverTest.php
  plugins/CoreAdminHome/tests/Integration/TasksTest.php
  plugins/CoreAdminHome/tests/Unit/SetConfig/ConfigSettingManipulationTest.php
  plugins/CoreConsole/tests/System/ArchiveCronTest.php
  plugins/CoreHome/tests/Integration/Column/UserIdTest.php
  plugins/CoreHome/tests/Integration/Column/VisitLastActionTimeTest.php
  plugins/CoreHome/tests/Integration/Columns/Metrics/EvolutionMetricTest.php
  plugins/CoreHome/tests/Integration/CoreHomeTest.php
  plugins/CoreHome/tests/Integration/LoginAllowlistTest.php
  plugins/CoreHome/tests/Integration/Tracker/VisitRequestProcessorTest.php
  plugins/CoreHome/tests/Unit/Columns/VisitorReturningTest.php
  plugins/CoreHome/tests/Unit/Columns/VisitorSecondsSinceFirstTest.php
  plugins/CoreHome/tests/Unit/Columns/VisitorSecondsSinceOrderTest.php
  plugins/CoreHome/tests/Unit/Columns/VisitsCountTest.php
  plugins/CoreHome/tests/Unit/CoreHomeTest.php
  plugins/CoreHome/tests/Unit/EvolutionMetricTest.php
  plugins/CorePluginsAdmin/tests/Integration/ApiTest.php
  plugins/CorePluginsAdmin/tests/Integration/TagManagerTeaserTest.php
  plugins/CoreUpdater/tests/Integration/Commands/UpdateTest.php
  plugins/CoreUpdater/tests/Integration/ReleaseChannelTest.php
  plugins/CoreUpdater/tests/Integration/UpdateCommunicationTest.php
  plugins/CoreUpdater/tests/Unit/ModelTest.php
  plugins/CoreVisualizations/tests/Integration/EvolutionPeriodSelectorTest.php
  plugins/CoreVisualizations/tests/Integration/SparklinesConfigTest.php
  plugins/CoreVisualizations/tests/Unit/SparklinesConfigTest.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22146 [Coding Style] use camel case for method names in Actions and BulkTracking plugin tests
  plugins/Actions/tests/System/ApiInvalidParameterTypeTest.php
  plugins/Actions/tests/System/ApiTest.php
  plugins/BulkTracking/tests/Integration/BulkTrackingTest.php
  plugins/BulkTracking/tests/Integration/HandlerTest.php
  plugins/BulkTracking/tests/Integration/RequestsTest.php
  plugins/BulkTracking/tests/Integration/TrackerTest.php
  plugins/BulkTracking/tests/System/TrackerTest.php
  plugins/BulkTracking/tests/Unit/RequestsTest.php
  plugins/BulkTracking/tests/Unit/ResponseTest.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22148 [Coding Style] use camel case for method names in CustomDimensions and CustomJSTracker plugin tests
  plugins/CustomDimensions/tests/Integration/ApiTest.php
  plugins/CustomDimensions/tests/Integration/CustomDimensionsTest.php
  plugins/CustomDimensions/tests/Integration/Dao/ConfigurationTest.php
  plugins/CustomDimensions/tests/Integration/Dao/LogTableTest.php
  plugins/CustomDimensions/tests/Integration/DataTable/Filter/RemoveUserIfNeededTest.php
  plugins/CustomDimensions/tests/Integration/Dimension/DimensionTest.php
  plugins/CustomDimensions/tests/Integration/Dimension/ExtractionTest.php
  plugins/CustomDimensions/tests/Integration/Dimension/IndexTest.php
  plugins/CustomDimensions/tests/Integration/SegmentTest.php
  plugins/CustomDimensions/tests/Integration/Tracker/CustomDimensionsRequestProcessorTest.php
  plugins/CustomDimensions/tests/System/AutoSuggestTest.php
  plugins/CustomDimensions/tests/Unit/DataTable/Filter/AddSegmentMetadataTest.php
  plugins/CustomDimensions/tests/Unit/Dimension/ActiveTest.php
  plugins/CustomDimensions/tests/Unit/Dimension/CaseSensitiveTest.php
  plugins/CustomDimensions/tests/Unit/Dimension/ExtractionsTest.php
  plugins/CustomDimensions/tests/Unit/Dimension/NameTest.php
  plugins/CustomDimensions/tests/Unit/Dimension/ScopeTest.php
  plugins/CustomJsTracker/tests/Integration/ApiTest.php
  plugins/CustomJsTracker/tests/Integration/FileTest.php
  plugins/CustomJsTracker/tests/Integration/PiwikJsManipulatorTest.php
  plugins/CustomJsTracker/tests/Integration/PluginTrackerFilesTest.php
  plugins/CustomJsTracker/tests/Integration/TrackerUpdaterTest.php
  plugins/CustomJsTracker/tests/System/PiwikJsContentTest.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22153 [Coding Style] use camel case for method names in more core plugin tests
  plugins/Diagnostics/tests/Integration/Commands/AnalyzeArchiveTableTest.php
  plugins/Diagnostics/tests/Integration/Commands/ArchivingConfigTest.php
  plugins/Diagnostics/tests/Integration/Commands/ArchivingInstanceStatisticsTest.php
  plugins/Diagnostics/tests/Integration/Commands/ArchivingMetricsTest.php
  plugins/Diagnostics/tests/Integration/Commands/ArchivingQueueTest.php
  plugins/Diagnostics/tests/Integration/Commands/ArchivingStatusTest.php
  plugins/Diagnostics/tests/Integration/ConfigReaderTest.php
  plugins/Diagnostics/tests/Integration/Diagnostic/ArchiveInvalidationsInformationalTest.php
  plugins/Diagnostics/tests/Unit/Diagnostic/DiagnosticResultTest.php
  plugins/Diagnostics/tests/Unit/DiagnosticReportTest.php
  plugins/Diagnostics/tests/Unit/DiagnosticServiceTest.php
  plugins/Feedback/tests/Integration/FeedbackTest.php
  plugins/GeoIp2/tests/Integration/LocationProviderTest.php
  plugins/GeoIp2/tests/System/ConvertRegionCodesToIsoTest.php
  plugins/GeoIp2/tests/System/expected/test_ConvertRegionCodesToIsoTest_testExecuteShouldConvertRegionCodes__UserCountry.getCountry_month.xml
  plugins/GeoIp2/tests/System/expected/test_ConvertRegionCodesToIsoTest_testExecuteShouldConvertRegionCodes__UserCountry.getRegion_month.xml
  plugins/Goals/tests/Integration/APITest.php
  plugins/Goals/tests/System/CalculateConversionPagesCommandTest.php
  plugins/Goals/tests/System/NumericAttributeGoalTrackingTest.php
  plugins/Goals/tests/System/ProcessDependentArchiveTest.php
  plugins/Goals/tests/System/TrackGoalsPagesTest.php
  plugins/Goals/tests/Unit/AppendNameToColumnNamesTest.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22157 [Coding Style] Use camel case for method names in more core plugin tests
  plugins/Insights/tests/Integration/ApiTest.php
  plugins/Insights/tests/Integration/ModelTest.php
  plugins/Insights/tests/Unit/InsightReportTest.php
  plugins/Installation/tests/System/APITest.php
  plugins/LanguagesManager/tests/Integration/ModelTest.php
  plugins/Live/tests/Integration/ModelTest.php
  plugins/Live/tests/System/ApiCounterTest.php
  plugins/Login/tests/Integration/APITest.php
  plugins/Login/tests/Integration/LoginTest.php
  plugins/Login/tests/Integration/ModelTest.php
  plugins/Login/tests/Integration/PasswordVerifierTest.php
  plugins/Login/tests/Integration/Security/BruteForceDetectionTest.php
  plugins/Login/tests/Integration/SessionInitializerTest.php
  plugins/Login/tests/Integration/SystemSettingsTest.php
  plugins/Marketplace/tests/Integration/ApiTest.php
  plugins/Marketplace/tests/Integration/ClientTest.php
  plugins/Marketplace/tests/Integration/EnvironmentTest.php
  plugins/Marketplace/tests/Integration/Input/PluginNameTest.php
  plugins/Marketplace/tests/Integration/LicenseKeyTest.php
  plugins/Marketplace/tests/Integration/Plugins/InvalidLicensesTest.php
  plugins/Marketplace/tests/Integration/PluginsTest.php
  plugins/Marketplace/tests/Integration/ServiceTest.php
  plugins/Marketplace/tests/Integration/UpdateCommunicationTest.php
  plugins/Marketplace/tests/System/Api/ClientTest.php
  plugins/Marketplace/tests/System/Api/ServiceTest.php
  plugins/Marketplace/tests/Unit/ConsumerTest.php
  plugins/Monolog/tests/System/TrackerLoggingTest.php
  plugins/Monolog/tests/Unit/Formatter/LineMessageFormatterTest.php
  plugins/Monolog/tests/Unit/Processor/ClassNameProcessorTest.php
  plugins/Monolog/tests/Unit/Processor/ExceptionToTextProcessorTest.php
  plugins/Monolog/tests/Unit/Processor/RequestIdProcessorTest.php
  plugins/Monolog/tests/Unit/Processor/SprintfProcessorTest.php
  plugins/Monolog/tests/Unit/Processor/TokenProcessorTest.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22055 Refactor plugin details modal using Vue
  package-lock.json
  package.json
  plugins/Marketplace/Marketplace.php
  plugins/Marketplace/images/divider.svg
  plugins/Marketplace/images/star.svg
  plugins/Marketplace/stylesheets/marketplace.less
  plugins/Marketplace/stylesheets/plugin-details.less
  plugins/Marketplace/templates/overview.twig
  plugins/Marketplace/tests/UI/Marketplace_OldModal_spec.js
  plugins/Marketplace/tests/UI/Marketplace_spec.js
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_free_plugin_details_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_free_plugin_details_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_free_plugin_details_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_exceeded_license_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_exceeded_license_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_exceeded_license_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_no_license_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_no_license_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_no_license_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_valid_license_multiUserEnvironment_installed.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_valid_license_superuser_installed.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_valid_license_user_installed.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_no_license_modal.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_no_license_modal_duplicate.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_no_license_modal_invalid.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_no_license_modal_rejected.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_StartFreeTrial_start_free_trial_error_modal.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_free_plugin_details_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_free_plugin_details_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_free_plugin_details_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_exceeded_license_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_exceeded_license_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_exceeded_license_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_no_license_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_no_license_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_no_license_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_valid_license_multiUserEnvironment_installed.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_valid_license_superuser_installed.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_valid_license_user_installed.png
  plugins/Marketplace/vue/dist/Marketplace.umd.js
  plugins/Marketplace/vue/dist/Marketplace.umd.min.js
  plugins/Marketplace/vue/src/Marketplace/Marketplace.vue
  plugins/Marketplace/vue/src/OverviewIntro/OverviewIntro.vue
  plugins/Marketplace/vue/src/PluginDetailsModal/PluginDetailsModal.vue
  plugins/Marketplace/vue/src/PluginList/CTAContainer.vue
  plugins/Marketplace/vue/src/PluginList/HelpLink.vue
  plugins/Marketplace/vue/src/PluginList/MoreDetailsAction.vue
  plugins/Marketplace/vue/src/PluginList/MoreDetailsButton.vue
  plugins/Marketplace/vue/src/PluginList/PluginList.vue
  plugins/Marketplace/vue/src/types.ts
Labels: c: Marketplace, c: Design / UI, Needs Review

#22167 Implement hash param to trigger new plugin overlay
  plugins/CorePluginsAdmin/vue/dist/CorePluginsAdmin.umd.js
  plugins/CorePluginsAdmin/vue/dist/CorePluginsAdmin.umd.min.js
  plugins/CorePluginsAdmin/vue/src/Plugins/PluginName.ts
  plugins/Marketplace/Emails/RequestTrialNotificationEmail.php
  plugins/Marketplace/PluginTrial/Notification.php
  plugins/Marketplace/vue/dist/Marketplace.umd.js
  plugins/Marketplace/vue/dist/Marketplace.umd.min.js
  plugins/Marketplace/vue/src/PluginDetailsModal/PluginDetailsModal.vue
  plugins/Marketplace/vue/src/PluginList/PluginList.vue
Labels: not-in-changelog, Needs Review

#22129 Translations update from Hosted Weblate
  lang/cs.json
  plugins/CoreAdminHome/lang/gu.json
  plugins/CoreAdminHome/lang/zh-tw.json
  plugins/CorePluginsAdmin/lang/ca.json
  plugins/CorePluginsAdmin/lang/el.json
  plugins/CorePluginsAdmin/lang/tr.json
  plugins/CorePluginsAdmin/lang/zh-tw.json
  plugins/Marketplace/lang/ca.json
  plugins/Marketplace/lang/el.json
  plugins/Marketplace/lang/tr.json
  plugins/Referrers/lang/gu.json
  plugins/SegmentEditor/lang/fr.json
  plugins/UsersManager/lang/gu.json
  plugins/UsersManager/lang/zh-tw.json
Labels: not-in-changelog, c: i18n

#22165 Add "Upgrade Subscription" button to redesigned plugin details modal
  plugins/Marketplace/Marketplace.php
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_exceeded_license_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_paid_plugin_details_exceeded_license_superuser.png
  plugins/Marketplace/vue/dist/Marketplace.umd.js
  plugins/Marketplace/vue/dist/Marketplace.umd.min.js
  plugins/Marketplace/vue/src/PluginList/CTAContainer.vue
Labels: c: Marketplace, not-in-changelog, Needs Review

#22168 Link feature gates to marketplace plugin details
  plugins/Marketplace/vue/dist/Marketplace.umd.js
  plugins/Marketplace/vue/dist/Marketplace.umd.min.js
  plugins/Marketplace/vue/src/PluginList/PluginList.vue
  plugins/ProfessionalServices/templates/pluginAdvertising.twig
Labels: not-in-changelog, Needs Review, c: Premium plugins

#22154 Remove shop links from plugin details modal
  plugins/Marketplace/Controller.php
  plugins/Marketplace/stylesheets/plugin-details.less
  plugins/Marketplace/templates/plugin-details.twig
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_free_plugin_details_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_free_plugin_details_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_free_plugin_details_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_exceeded_license_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_exceeded_license_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_exceeded_license_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_no_license_multiUserEnvironment.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_no_license_superuser.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_no_license_user.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_valid_license_multiUserEnvironment_installed.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_valid_license_superuser_installed.png
  plugins/Marketplace/tests/UI/expected-screenshots/Marketplace_OldModal_paid_plugin_details_valid_license_user_installed.png
Labels: c: Marketplace, Needs Review
