Repository matomo-org/matomo, pull requests merged in 2024-06, with the labels that each got.

#22274 [Coding Style] Enable rule Generic.PHP.LowerCaseConstant.Found
  core/Cookie.php
  phpcs.xml
  plugins/Diagnostics/tests/Integration/ConfigReaderTest.php
  plugins/Diagnostics/tests/Integration/Diagnostic/ArchiveInvalidationsInformationalTest.php
  plugins/Marketplace/tests/Integration/PluginsTest.php
  plugins/Marketplace/tests/Unit/ConsumerTest.php
  tests/PHPUnit/Framework/TestCase/SystemTestCase.php
  tests/PHPUnit/Integration/CronArchive/QueueConsumerTest.php
  tests/PHPUnit/Integration/CronArchiveTest.php
  tests/PHPUnit/Integration/DataAccess/ArchiveInvalidatorTest.php
  tests/PHPUnit/Integration/DataAccess/ModelTest.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22277 Use mocks for testing instead of inherited classes with overwritten methods
  plugins/BulkTracking/tests/Unit/ResponseTest.php
  plugins/CustomJsTracker/tests/Integration/PluginTrackerFilesTest.php
  plugins/ScheduledReports/tests/Integration/ReportEmailGeneratorTest.php
Labels: not-in-changelog, Needs Review, Technical debt

#22267 Fix quirky behaviour of height adjustment when using kartograph library, causing 2px shift in map height
  plugins/Dashboard/tests/UI/expected-screenshots/DashboardManager_small_screen.png
  plugins/Dashboard/tests/UI/expected-screenshots/Dashboard_dashboard4.png
  plugins/UserCountryMap/javascripts/visitor-map.js
  plugins/UserCountryMap/tests/UI/expected-screenshots/VisitorMap_cities.png
  plugins/UserCountryMap/tests/UI/expected-screenshots/VisitorMap_regions.png
  tests/UI/expected-screenshots/Menus_mobile_left.png
  tests/UI/expected-screenshots/UIIntegrationTest_visitors_locations_provider.png
Labels: c: Tests & QA, not-in-changelog

#22280 Add page transition popup tooltip back to screenshot test
  plugins/Transitions/tests/UI/Transitions_spec.js
  plugins/Transitions/tests/UI/expected-screenshots/Transitions_transitions_popup_urls.png
Labels: c: Tests & QA, not-in-changelog, Needs Review

#22284 Fix OptOutJS test breaking CI headless browser
  tests/lib/screenshot-testing/support/page-renderer.js
  tests/resources/overlay-test-site/opt-out.php
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22271 Define default collation for TiDB tables
  core/Db/Schema.php
  core/Db/Schema/Mysql.php
  core/Db/Schema/Tidb.php
  core/Db/SchemaInterface.php
  core/Updater/Migration/Db/CreateTable.php
  tests/resources/OmniFixture-dump.sql
Labels: c: Platform, c: Tests & QA, Needs Review, Technical debt

#22288 Fix VisitorMap UI test failing on days except Monday
  plugins/UserCountryMap/tests/UI/VisitorMap_spec.js
  plugins/UserCountryMap/tests/UI/expected-screenshots/VisitorMap_cities.png
  plugins/UserCountryMap/tests/UI/expected-screenshots/VisitorMap_regions.png
Labels: c: Tests & QA, not-in-changelog, Needs Review

#22285 Update UI test environment config override if installed plugins change
  tests/PHPUnit/Framework/Mock/TestConfig.php
  tests/lib/screenshot-testing/support/page-renderer.js
Labels: c: Tests & QA, not-in-changelog, Needs Review, Technical debt

#22276 Removes unused method from Tracker class
  core/Tracker.php
  plugins/BulkTracking/tests/Integration/TrackerTest.php
Labels: not-in-changelog, Needs Review, Technical debt

#22290 Improve SegmentSelectorEditor UI test dropdown interactions
  plugins/SegmentEditor/tests/UI/SegmentSelectorEditor_spec.js
Labels: c: Tests & QA, not-in-changelog, Needs Review

#22279 Sort goals by name in UI
  plugins/Dashboard/tests/UI/expected-screenshots/Dashboard_dashboard3.png
  plugins/Goals/API.php
  plugins/Goals/Controller.php
  plugins/Goals/Goals.php
  plugins/Goals/Visualizations/Goals.php
  plugins/Goals/tests/UI/expected-screenshots/GoalsPages_overview.png
  plugins/Goals/tests/UI/expected-screenshots/GoalsTable_goals_table_full.png
  plugins/Goals/tests/UI/expected-screenshots/GoalsTable_initial.png
  plugins/Goals/tests/UI/expected-screenshots/Goals_action_goals_visualization_page_urls.png
  plugins/Goals/tests/UI/expected-screenshots/Goals_action_goals_visualization_page_urls_subtable.png
  plugins/Goals/tests/UI/expected-screenshots/Goals_goals_by_entry_page_titles.png
  plugins/Goals/tests/UI/expected-screenshots/Goals_goals_by_entry_pages.png
  plugins/Goals/tests/UI/expected-screenshots/Goals_goals_by_page_titles.png
  plugins/Goals/tests/UI/expected-screenshots/Goals_goals_by_pages.png
  plugins/Goals/tests/UI/expected-screenshots/Goals_overview.png
  tests/UI/expected-screenshots/Comparison_goals_table.png
  tests/UI/expected-screenshots/QuickAccess_search_1.png
  tests/UI/expected-screenshots/UIIntegrationTest_api_listing.png
  tests/UI/expected-screenshots/ViewDataTableTest_5_goals.png
Labels: Enhancement, Needs Review

#22304 Set autocomplete for password fields on invitation screen
  plugins/Login/templates/invitation.twig
Labels: not-in-changelog, Needs Review

#22302 Run each UI test suite in its own browser context
  plugins/CoreHome/tests/UI/VersionInfoHeaderMessage_spec.js
  plugins/Login/tests/UI/Login_spec.js
  plugins/Login/tests/UI/NoAccess_spec.js
  tests/UI/specs/OptOutIframe_spec.js
  tests/UI/specs/OptOutJS_spec.js
  tests/lib/screenshot-testing/run-tests.js
  tests/lib/screenshot-testing/support/app.js
  tests/lib/screenshot-testing/support/globals.js
  tests/lib/screenshot-testing/support/page-renderer.js
Labels: c: Tests & QA, not-in-changelog, Needs Review

#22289 [PHPCS] Disallow line length > 400
  core/DataTable/Renderer.php
  phpcs.xml
  plugins/CoreConsole/Commands/GeneratePluginBase.php
  plugins/CoreUpdater/Commands/SecurityFiles.php
  plugins/Morpheus/Controller.php
  plugins/PrivacyManager/Commands/AnonymizeRawData.php
Labels: not-in-changelog, Needs Review, Technical debt

#22306 Introduce a new event to filter sites displayed on all websites dashboard
  plugins/MultiSites/API.php
  plugins/MultiSites/tests/System/ApiTest.php
  plugins/MultiSites/tests/System/expected/test__filtered__MultiSites.getAllWithGroups_day.xml
  plugins/MultiSites/tests/System/expected/test_limitedWithOffset_filtered__MultiSites.getAllWithGroups_day.xml
  plugins/MultiSites/tests/System/expected/test_limitedWithPattern_filtered__MultiSites.getAllWithGroups_day.xml
  plugins/MultiSites/tests/System/expected/test_limited_filtered__MultiSites.getAllWithGroups_day.xml
  plugins/MultiSites/tests/System/expected/test_multiplePeriods_filtered__MultiSites.getAllWithGroups_day.xml
Labels: Enhancement, Needs Review

#22294 Pass in testomat integration key, when not running unit tests.
  .github/workflows/matomo-tests.yml
  tests/UI/config.dist.js
Labels: c: Tests & QA, not-in-changelog, Needs Review

#22332 Add function to PageRenderer to allow clipboard actions
  tests/UI/expected-screenshots/UIIntegrationTest_admin_diagnostics_configfile.png
  tests/UI/expected-screenshots/UIIntegrationTest_admin_settings_general.png
  tests/lib/screenshot-testing/support/page-renderer.js
Labels: c: Tests & QA, Needs Review

#22338 Adds test that checks if invalidation for yesterday works as expected...
  tests/PHPUnit/Integration/ArchiveTest.php
Labels: c: Tests & QA, not-in-changelog

#22299 Already valid archives for yesterday might get invalidated when using another timezone than UTC
  core/Archive/ArchiveInvalidator.php
  core/CronArchive.php
  tests/PHPUnit/Integration/CronArchiveTest.php
Labels: Bug, Needs Review
